
@media screen and (max-width: 800px) {
    .card{
        grid-template-columns: 1fr 1fr;
    }
  .home{
      height: unset;
  }
}
@media screen and (max-width: 600px) {
    .card{
        grid-template-columns: 1fr;
    }
  .home{
      height: unset;
  }
}
.nput{
    border-width: 0 0 0 0px;
    transition: all 0.8s;
}
.nput:focus{
    border-color: rgb(23, 170, 79);
}