*{
    margin: 0;
    padding: 0;
}
.parents{
    background-color: rgb(1, 15, 4);
    height: 96vh;
    width: 80%;
    /* margin-left: 3%; */
    margin: 0 auto;
    margin-top: 2%;
}
.mains{
    background-color: rgb(11, 96, 65, 80%);
    position: absolute;
    height: 86vh;
   margin-left: 4%;
   margin-top: 2%;
    width: 73%;
}
.childs{
    background-color: whitesmoke;
    height: 74vh;
    width: 94%;
    margin-left: 3%;
  position: absolute;
  margin-top: 3%;

 
}
.doubles{
    display: flex;
}
.formss{
    
    float: right;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    /* margin-top: %; */
    
    width: 50%;
    height: 74vh;
}


form button{
    height: 2.8em;
    width: 90%;
    background-color: rgb(11, 96, 65, 80%);
    color: white;
    border: 1px solid rgb(58, 108, 58);;
}
.si-form{
    margin-top: 100px;
}

h3{
    margin-left: 40%;
    margin-top: 0%;
    
}
.images{
    padding-top: 2em;
    width: 48%;
}
img{
    height: 60vh;
    width:26vw;
   /* position: fixed; */
    /* margin-left: 3em; */
   
}
p{
margin-left: 10em;
margin-top: 1em;

}
.images .h3{
    margin-left: 10%;
    margin-top: 1em; 
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
.p2{
    margin-right: 0%;
}
p strong{
    color: rgb(11, 96, 65, 80%);
}
.p2{

    padding-left: 8%;
    font-family: italic;
}