@media screen and (max-width: 1200px) {
  .leftorder{
    position: fixed;
    right: -500px;

  }
  .ot{
    transform: scale(0.88);
  }
  .olist{
    width: 100%!important;
    padding: 0 10px;
  }
}

@media screen and (max-width: 760px) {
  .sidebar{
    position: fixed;
    left: -500px!important;
    z-index: 1;
  }
  .ot{
    transform: scale(0.6) translateX(-150px);
    /* transform: translateX(-100px); */
  }
  .oh1{
    width: 140%;
  }
}
.show{
  left: 0!important;
}
.showleft{
  right: 0!important;
  width: 300px!important;
  background-color: white;
}
.olist::-webkit-scrollbar{
  width: 10px;
  ;
}
.olist::-webkit-scrollbar-thumb{
  background: rgba(184, 186, 190, 0.861);
  border-radius: 10px
}

.scr1::-webkit-scrollbar{
  width: 10px;
  ;
}
.scr1::-webkit-scrollbar-thumb{
  background: rgba(184, 186, 190, 0.861);
  border-radius: 10px
}